<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105626996716-1amceicd8i1qcse2lvtbrd1ohdldgppq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105626996716-1amceicd8i1qcse2lvtbrd1ohdldgppq</string>
	<key>API_KEY</key>
	<string>AIzaSyB6ibeAXJjbyf3nVasQFpdtVU6BUANoJx8</string>
	<key>GCM_SENDER_ID</key>
	<string>105626996716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exampleFirebaseLogical</string>
	<key>PROJECT_ID</key>
	<string>fir-aniq-logic-example</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-aniq-logic-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105626996716:ios:dde1bfff8ceba2498bfac9</string>
</dict>
</plist>